section {
  background: pink;
  color: white;
  margin: 20px;
  padding: 20px 40px;
  text-align: center;
}

.s8 > div {
  background: orange;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  width: 200px;
  display: inline-block;
  /* float: left;  */
}

.s8 > div > #p8-2,
.s8 > div > #p8-1 {
  background: greenyellow;
  border: 1px solid black;
  padding: 20px;
}

.s9 {
  clear: both; 
  padding: 20px;
}

.s9 > div {
  background: black;
  padding: 20px;
}

button{
  padding: 20px;
  width : 200px;
  border-radius: 4px;
  font-size: 20px;
}