section {
  border: 1px solid black;
  margin: 0px 20px 0px 20px;
}

div {
  border: 1px solid gray;
  margin: 20px;
  padding: auto;
}
/* 1.텍스트 라인 */
.s1 > div > .p1align {
  text-align: center;
}
.s1 > div > .p2align {
  text-align: left;
}
.s1 > div > .p3align {
  text-align: right;
}
.s1 > div > .p4align {
  text-align: justify;
}
/* 2.텍스트 들여쓰기 */
.s2 > div > .p1indent {
  text-indent: 15px;
}
.s2 > div > .p2indent {
  text-indent: 5%;
}
/* 3.텍스트 줄간격 */
.s3 > div > .p1height {
  line-height: 0.7;
}
.s3 > div > .p2height {
  line-height: 2;
}
/* 4.넘치는 텍스트 표시하기 */
.s4 > div > .p1content {
  border: 1px solid red;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 5.1분복습 */
.s5 > div > .ex1 {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

/* 6.상품 소개 페이지 */
img {
  width: 100%;
  margin: auto;
}
div > div  {
  margin: 0;
}

.d1 > div > div > h1 {
  color: white;
  font-size: 1em;
  background-color: #222;
  padding: 10px;
  margin: 0;
}

.d1 > div > div > h2 {
  color: #ff0000;
  font-size: 1.2em;
  text-align: center;
}

.d1 > div > div > p {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
}

.bluecolor {
  color: blue;
}

.smalltext {
  font-size: small;
}

.s6 > div > div {
  border: 3px solid rgb(255, 72, 6);
}
