body {
  background-color: rgb(171, 171, 216);
}

header {
  color: white;
  font-size: large;
  margin: 20px;
}

div {
  border: 2px solid black;
  padding: 10px;
}
div{
    background-color: white;
    margin: 10px;
}
.d1{
    border-radius: 8px;
}

.d2{
    border-radius: 20px;
}

.d3{
    border-radius: 20px 0px;
}
p{
   font-size: small;
   margin-left: 10px;
}
h4{
    
    margin: 10px 2px;
    color: brown;
    font-size: 15px;
}

h3{
  margin-left: 20px;
}

header>h1{
  float: left;
}

nav{
  float: right;
  margin-top: 40px;
}

section{
  clear: both;
}

nav ul{
	list-style-type:none;	
}

nav ul li a{
	color:white;
	text-decoration:none;	
}

nav ul li {
  display: inline;
  padding: 2px;
  font-size : small;
  
}
nav ul {
  text-align: right;
}

