section {
  border: 1px solid red;
  padding: 5px;
}

.s1 table,
.s2 table,
.s3 table,
.s4 table,
.s5 table {
  border-collapse: collapse;
  width: 100%;
}

.s1 tr:nth-child(even) {
  background-color: pink;
}

.s1 th,
.s1 td,
.s5 th,
.s5 td {
  text-align: left;
}

.s2 th:nth-child(even),
.s2 td:nth-child(even) {
  background-color: rgb(0, 255, 213);
}

.s2 th,
.s2 td,
.s3 th,
.s3 td {
  border: 1px solid black;
  border-collapse: collapse;
}

.s2 th,
.s3 th,
.s2 td,
.s3 td {
  padding: 20px;
}

.s4 th,
.s4 td,
.s5 th,
.s5 td {
  padding: 10px;
}

.s3 tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

.s3 th:nth-child(even),
.s3 td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

.s4 tr,
.s5 tr {
  border-bottom: 1px solid #ddd;
}

.s5 tr:hover {
  background-color: #d6eeee;
}
